@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.font-frank {
  font-family: 'Frank Ruhl Libre', Arial, Helvetica, sans-serif;
}
.font-lato {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.font-inter {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}


.hero {
  background-image: url(./BG.png);
  background-size: cover;
}

.bestSeller {
  background-image: url(./brown_BG.png);
  background-size: cover;
}

.bestSeller_carousel {
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
.bestSeller_carousel::-webkit-scrollbar {
  display: none;
}
.carousel_child {
  scroll-snap-align: start;
}
.testimonial_carousel_child {
  scroll-snap-align: start;
}